<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SWSwitcherTrayApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SWSwitcherTrayApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SWSwitcherTrayApp.Properties.Settings>
            <setting name="TimeInterval" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="PicturesFolderPath" serializeAs="String">
                <value>MyPictures</value>
            </setting>
            <setting name="CurWallpaper" serializeAs="String">
                <value>C:\Windows\Wallpaper.jpg</value>
            </setting>
            <setting name="CurStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CurOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultWallpaperFile" serializeAs="String">
                <value/>
            </setting>
        </SWSwitcherTrayApp.Properties.Settings>
        <SWSwitcherTrayApplication.Properties.Settings>
            <setting name="TimeInterval" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="PicturesFolderPath" serializeAs="String">
                <value>MyPictures</value>
            </setting>
            <setting name="CurWallpaper" serializeAs="String">
                <value>C:\Windows\Wallpaper.jpg</value>
            </setting>
            <setting name="CurStyle" serializeAs="String">
                <value>1</value>
            </setting>
        </SWSwitcherTrayApplication.Properties.Settings>
    </userSettings>
</configuration>
